<div class="home_container">
  <div class="home_container_side-bar">
    <div class="side-bar_icons">
      <mat-icon class="icons"[inline]="true" aria-hidden="false" aria-label="home" fontIcon="home" routerLink="" routerLinkActive="active"><a class="icon_text">Home</a></mat-icon>
      <mat-icon class="icons"[inline]="true" aria-hidden="false" aria-label="search" fontIcon="search"><a class="icon_text">Search</a></mat-icon>
      <mat-icon class="icons"[inline]="true" aria-hidden="false" aria-label="library" fontIcon="library_books"><a class="icon_text">Your Library</a></mat-icon>
      <mat-icon class="icons"[inline]="true" aria-hidden="false" aria-label="playlist_add" fontIcon="playlist_add"><a class="icon_text">Create Playlist</a></mat-icon>
    </div>
      <div class="home_container_side-bar_scroll" style="overflow-y: scroll; padding-bottom: 20%;">
        <app-song-cards></app-song-cards>
      </div>
  </div>
</div>  