

img{
  object-fit: cover;
  width: 100%;
  height: 60%
};
.playlist_card-container{
  width: 280px;
  height: 350px;
  background-color: black;
  margin: 20px;
  border-radius: 5%;
  >mat-card-title,mat-card-subtitle{
    color: white;
    text-align: start;
    text-transform: capitalize;
    margin: 15px;
  }
  >mat-card-subtitle{
    color: rgb(166, 166, 166);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
  }
}
mat-card-title{
  font-size: 30px;
}