.overflow {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  > .main {
    max-width: 100%;
    height: 100vh;
    background-color: #222222;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    gap: 0;
    > .serach-input-container {
      overflow: hidden;
      grid-area: 1 / 1 / 2 / 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    > .search-results-container {
      overflow: hidden;
      margin: 2rem;
      grid-area: 2 / 1 / 5 / 2;
      display: flexbox;
      > .songs-results {
        > .song-results-wrap {
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}
.result-title {
  font-size: 4rem;
  color: aliceblue;
  font-size: 100px;
  font-weight: bold;
  cursor: default;
}
.result-card {
  background-color: #2c2c2c;
  border-radius: 10px;
  margin: 15px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 1fr);
  gap: 0;
  width: 400px;
  height: 4rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgb(30, 30, 30);
  -moz-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 10px 0px rgb(16, 16, 16);
  > .img-container {
    grid-area: 1 / 1 / 2 / 2;
    > .img-cover {
      object-fit: contain;
      width: 4rem;
      height: 4rem;
    }
  }
  > .title-container {
    padding: 3%;
    grid-area: 1 / 2 / 2 / 6;
    > .title {
      font-size: 20px;
      font-weight: bold;
      color: #cdcdcd;
    }
    > .artist {
      margin-top: 5px;
      color: #b6b6b6;
    }
  }
  > .options-container {
    grid-area: 1 / 6 / 2 / 7;
    color: #b6b6b6;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.artists-results {
  display: flex;
  flex-wrap: wrap;
}
.result-card:hover {
  opacity: 70%;
}
