.main {
  max-width: 100%;
  height: 100%;
  background-color: #161616;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  gap: 0;
  > .serach-input-container {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    > mat-form-field {
      min-width: 600px;
    }
  }
  > .overflow {
    grid-area: 2 / 1 / 5 / 2;
    overflow-y: scroll;
    height: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    > .search-results-container {
      overflow: hidden;
      margin: 2rem;
      display: flexbox;
      > .songs-results {
        > .song-results-wrap {
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}
.result-title {
  font-size: 4rem;
  color: aliceblue;
  font-weight: bold;
  cursor: default;
}
.result-card {
  background-color: #0c0c0c;
  border-radius: 10px;
  display: flex;
  width: 400px;
  margin: 15px;
  height: 4rem;
  color: #b6b6b6;
  -webkit-box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  > .result-card-button {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  > .result-card-grid {
    width: 90%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
    > .img-container {
      grid-area: 1 / 1 / 2 / 2;
      > .img-cover {
        object-fit: contain;
        width: 4rem;
        height: 4rem;
      }
    }
    > .title-container {
      padding: 3%;
      grid-area: 1 / 2 / 2 / 6;
      > .title {
        font-size: 20px;
        font-weight: bold;
        color: #cdcdcd;
      }
      > .artist {
        margin-top: 5px;
        color: #b6b6b6;
      }
    }
    > .options-container {
      grid-area: 1 / 6 / 2 / 7;
      color: #b6b6b6;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}

.artists-results {
  display: flex;
  flex-wrap: wrap;
}
.result-card-grid:hover {
  opacity: 70%;
}
