.song{
  display: flex;
  max-height: 80px; 
  margin-top: 4px; 
  margin-bottom: auto;
  align-items: center;
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
  >img{
    max-width: 60px; 
    max-height: 60px; 
    object-fit: fill;
  }
  >.details{
    justify-content: center;
    align-items: center;
    >h2{
      font-size: 15px;
      margin: auto;
      margin-left: 8px;
    }
    >p{
      font-size: 8px;
      margin: auto;
      margin-left: 8px;
    }
  }
}
