.song{
  text-transform: capitalize;
  display: flex;
  height: 100px;
  margin-top: 6px; 
  margin-bottom: auto;
  align-items: center;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  >img{
    max-width: 100px; 
    max-height: 100px; 
    object-fit: fill;
  }
  >.details{
    justify-content: center;
    align-items: center;
    >h2{
      font-size: 25px;
      margin: auto;
      margin-left: 10px;
    }
    >p{
      font-size: 14px;
      margin: auto;
      margin-left: 8px;
    }
  }
}
