<div class="signup-form-flex">
  <mat-card>
    <mat-card-title>
      Login
    </mat-card-title>
    <!-- <mat-label>Gender</mat-label>
            <mat-select>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select> -->
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="User Name">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input type="password" matInput placeholder="Password"/>
      </mat-form-field>
            
    </mat-card-content>
    <mat-card-actions>
      <div class="button-flex-container">
        <button mat-raised-button color="primary">Sign-in</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>