.signup-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 9000;
  >mat-card{
    justify-content: center;
    background-color: rgb(0, 0, 0);
    min-width: fit-content;
    width: 30%;
    min-width: 300px; 
    height: 100%;
    padding: 3%;
    >.username-container{
      display: flex;
      flex-direction: column;
      
    }
    >.personal-details_container{
      display: flex;
      justify-content: space-between;
    }
  }
}
mat-form-field{
  margin: 5px;
  color: rgb(167, 167, 167);
}