<div class="home_container">
  <div class="home_container_side-bar">
      <div class="home_container_side-bar_item">
          <mat-icon [inline]="true" aria-hidden="false" aria-label="home" fontIcon="home"><a class="icon_text">Home</a></mat-icon>

      </div>
      <div class="home_container_side-bar_item">
          <mat-icon [inline]="true" aria-hidden="false" aria-label="search" fontIcon="search"><a class="icon_text">Search</a></mat-icon>
      </div>
      <div class="home_container_side-bar_item">
          <mat-icon [inline]="true" aria-hidden="false" aria-label="library" fontIcon="library_books"><a class="icon_text">Your Library</a></mat-icon>
      </div>
      <div class="home_container_side-bar_item">
          <mat-icon [inline]="true" aria-hidden="false" aria-label="playlist_add" fontIcon="playlist_add"><a class="icon_text">Create Playlist</a></mat-icon>
      </div>
  </div>
  <div class="home_container_playlist-container">
    <app-top-navbar></app-top-navbar>
  </div>
</div>