
.home_container_main-container {
  background-color: #222222;
  height: 100vh;
  display: flexbox;
  flex-direction: column;
}
.home_container_playlist-container{
  >h1{
    font-size: 50px;
    margin: 2rem;
    color: white;
    &:hover{
      opacity: 70%;
      cursor: pointer;
    }
  }
}
.playlist_scroll-container{
  overflow-x: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.playlist_scroll-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}