.home_container {
  display: flex;
  flex-wrap: wrap;

  .home_container_main-container {
    background-color: #8d8d8d;
    height: 100vh;
    flex: auto;
  }
  .home_container_playlist-container{


    >h1{
      font-size: 50px;
      margin: 2rem;
      color: white;
      &:hover{
        opacity: 70%;
        text-decoration: underline;
        cursor: pointer;
      }
    }

  }

  .home_container_side-bar {
    padding-top: 2rem;
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    .home_container_side-bar_item {
      width: 100%;
      margin: 1rem;
      > mat-icon {
        font-size: 60px;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 2rem;
      }
    }

    .icon_text {
      font-size: 24px;
      margin: 10px;
      color: gray;
    }
  }
}
