<div class="main">
  <div class="page-container">
    <div class="playlist-description-container">
      <div class="description-card">
        <div class="img-container">
          <img [src]="playlistData.cover" alt="Playlist Cover" />
        </div>
        <div class="description-card-text">
          <span class="title">{{ playlistData.title }}</span>
          <p class="description">{{ playlistData.description }}</p>
        </div>
      </div>
    </div>
    <div class="header-table-list-grid">
      <div class="header-list-grid">
        <div class="numeration">#</div>
        <div class="title">Title</div>
        <div class="artist">Artist</div>
        <div class="duration">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="timelapse"
          ></mat-icon>
        </div>
      </div>
    </div>
    <div class="list-grid">
      <div
        class="card-list-grid"
        *ngFor="let song of playlistData.songs; let i = index"
        (click)="selectSong(song)"
      >
        <div class="numeration">{{ i + 1 }}</div>
        <div class="title">
          <img [src]="song.cover" alt="Cover" />{{ song.title }}
        </div>
        <div class="artist">{{ song.artist }}</div>
        <div class="duration">{{ song.duration }}</div>
      </div>
    </div>
  </div>
</div>
