.playlist-page_container{
  background-color: #222222;
  height: 100vh;
}
.header-card{
  border-radius: 40px;
  background-color: transparent;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  >.header-card-content{
    display: flex;
    >img{
      height: 200px;
      width: 200px;
      object-fit: fill;
      border-radius: 40px;
    }
    >.header-card-content-title{
      >mat-card-title{
        text-transform: capitalize;
        color: white;
        padding: 20px;
        font-size: 4rem;
      }
      >p{
        text-transform: capitalize;
        color: rgb(166, 166, 166);
        padding: 20px;
        font-size: 2rem;
      }
    }
  }
}

mat-list{
  background-color: rgb(39, 39, 39);
  border-radius: 20px;
  >.header-section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    >.left_header-section{
      display: flex; 
      flex-direction: row; 
      flex-wrap: nowrap;
      >.title-subheader{
        
      }
    }
  }
  >mat-list-item{
    height: 80px;
    color: whitesmoke
  }
}
    
.mat-list-item_container{
  color: whitesmoke;
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: space-between;
  align-items: start;
    >.mat-list-item_left-section{
      display: flex; 
      flex-direction: row; 
      flex-wrap: nowrap;
      
      >img{
        width: 60px; 
        height: 60px;
        object-fit: fill;
      }
    }
}
h3[matListItemTitle]{
  color: aliceblue;
}
.playlist-page_container{
  overflow-x: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.playlist-page_container::-webkit-scrollbar {
  width: 0;
  height: 0;
}