<div class="playlist-page_container">
  <div>
    <mat-card class="header-card">
      <mat-card-content class="header-card-content">
        <img [src]="playlistData[value].cover" alt="Cover Image">
        <div class="header-card-content-title">
          <mat-card-title>{{playlistData[value].title}}</mat-card-title>
          <p>{{playlistData[value].description}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-list>
    <div class="header-section">
      <div class="left_header-section">
        <div mat-subheader>#</div>
        <div class="title-subehader" mat-subheader>Title</div>
      </div>
        <div mat-subheader>Artist</div>
        <div mat-subheader>Duration</div>
      </div>
      <mat-divider></mat-divider>
    <mat-list-item *ngFor="let song of playlistData[value].songs">
      <div class="mat-list-item_container">
        <div class="mat-list-item_left-section">
          <img [src]="song.cover" alt="Cover">
          <h3 matListItemTitle>{{song.title}}</h3> 
        </div>
        <h2>{{ song.artist }}</h2>
        <p>{{ song.duration }}</p>
      </div>
          <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div> 

