<div style="height: 100%; padding: 20px;">
  <div class="playlist_details-card">
    <img [src]="playlistData[value].cover" alt="Cover Image" >
    <div class="details">
      <h1>{{playlistData[value].title}}</h1>
      <p>{{playlistData[value].description}}</p>
    </div>
  </div>
  <div *ngFor="let song of playlistData[value].songs">
    <div>
      <h3>{{ song.artist }}</h3>
      <p>{{ song.title }}</p> <!-- Zmieniłem song.artist na song.title -->
      <p>{{ song.duration }}</p>
      <img [src]="song.cover" alt="Cover">
      <p>{{ song.genre }}</p>
      <a [href]="song.link">Odtwórz</a>
    </div>
  </div>
 </div>
