.home_container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.home_container_side-bar {
  padding-top: 2rem;
  background-color: black;
  color: white;
  width: 300px;
}

.home_container_main-container {
  background-color: #222222;
  color: white;
  overflow-y: auto;
}