<div class="audio-player-container">
  <div class="grid-container">
    <div class="grid-1">
      <img style="width: 50px;" src="https://st5.depositphotos.com/57738724/65123/v/450/depositphotos_651231898-stock-illustration-head-rooster-cock-abstract-character.jpg" alt="Cover Image" >
      <div class="details">
        <h2>Chuj</h2>
        <p>Artist:</p>
      </div>
      <mat-icon aria-hidden="false" aria-label="Add to fav" fontIcon="add"></mat-icon>
     </div> 
      <div class="grid-2">
        <mat-icon [inline]="true" aria-hidden="false" aria-label="Previous" fontIcon="skip_previous"></mat-icon>
        <mat-icon [inline]="true" [fontIcon]="isPlaying ? 'pause_circle' : 'play_circle'" (click)="toggleMusic()" aria-hidden="false" aria-label="Odtwórz/Zatrzymaj"></mat-icon>
        <mat-icon [inline]="true" aria-hidden="false" aria-label="Next" fontIcon="skip_next"></mat-icon>
      </div>
      <div class="grid-3">
        <mat-icon aria-hidden="false" aria-label="Volume" fontIcon="volume_up"></mat-icon>
        <mat-slider  max='1' min='0.0' step='0.001' (change)="changeVolume(sliderValue)" style="width:fit-content; overflow: visible;">
        <input matSliderThumb >
      </mat-slider>
      </div>
    </div>

  <!-- </div>
    <mat-grid-tile class="current-song">

    </mat-grid-tile>
    <mat-grid-tile class="player-controls">
      
    </mat-grid-tile>
    <mat-grid-tile class="additional-controls">
      
    </mat-grid-tile>
  </mat-grid-list>   -->
</div>
