<div class="top-navbar_container">
  <div class="top-navbar_right-section" *ngIf="!isLoggedIn()">
    <h1 style="color: gray" (click)="authNavigate('login')">Log in</h1>
    <h1 style="color: aliceblue" (click)="authNavigate('signup')">Sign up</h1>
  </div>
  <div class="top-navbar_right-section" *ngIf="isLoggedIn()">
    <h1 style="color: gray">{{ username }}</h1>
    <mat-icon
      class="icons"
      [inline]="true"
      aria-hidden="false"
      aria-label="home"
      fontIcon="logout"
      (click)="logout()"
    ></mat-icon>
  </div>
</div>
