<div class="main">
  <div class="side-bar-grid">
    <div class="side-bar_grid1">
      <mat-icon
        class="icons"
        [inline]="true"
        aria-hidden="false"
        aria-label="home"
        fontIcon="home"
        routerLink=""
        routerLinkActive="active"
        ><a class="icon_text">Home</a></mat-icon
      >
      <mat-icon
        class="icons"
        [inline]="true"
        aria-hidden="false"
        aria-label="search"
        fontIcon="search"
        routerLink="search"
        ><a class="icon_text">Search</a></mat-icon
      >
    </div>
    <div class="side-bar_grid2">
      <mat-icon
        *ngIf="isLoggedIn()"
        class="icons"
        [inline]="true"
        aria-hidden="false"
        aria-label="library"
        fontIcon="library_books"
        routerLink="user-library"
        ><a class="icon_text">Your Library</a></mat-icon
      >
      <mat-icon
        *ngIf="isLoggedIn()"
        class="icons"
        [inline]="true"
        aria-hidden="false"
        aria-label="playlist_add"
        fontIcon="playlist_add"
        routerLink="playlist-creator"
        ><a class="icon_text">Create Playlist</a></mat-icon
      >
    </div>
  </div>
</div>
